@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
body {
  background-color: hsl(217, 54%, 11%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main {
  text-align: center;
  padding: 25px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  max-width: 300px;
}
.container {
  position: relative;
  width: 100%;
  max-width: 500px;
}
.image {
  border-radius: 8px;
  display: block;
  width: 100%;
}
.overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: hsl(178, 100%, 50%);
  padding: 125px;
  border-radius: 10px;
}
hr {
  border: 1px solid hsl(215, 51%, 70%);
}
span {
  color: hsl(0, 0%, 100%);
}
.profile {
  display: flex;
  align-items: center;
  gap: 1em;
}

.about {
  text-align: left;
  font-family: "Outfit", sans-serif;
}

.avatar {
  border: 1px solid white;
  border-radius: 100%;
}
.info {
  font-weight: 600;
}
.price-and-time {
  display: flex;
  gap: 7em;
  align-items: center;
}
.time-and-days {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 900;
}
.sign-and-amount {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 900;
}
h1 {
  font-size:25px;
  color: hsl(0, 0%, 100%);
}
p {
  color: hsl(215, 51%, 70%);
}
.price {
  color: hsl(178, 100%, 50%);
}

h3:hover,
span:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.container:hover .overlay {
  cursor: pointer;
  opacity: 0.5;
  display: inline;
}

@media screen and (max-width:375px){

  
  main{
 width: 400px;
  }
  
}
